* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/images/pattern-bg.svg'), url('/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%, 0 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 2rem;
  font-weight: 300;
  color: hsl(240, 38%, 20%)
}

main {
  width: 75vw;
}

.card {
  display: flex;
  width: 100%;
  height: 540px;
  position: relative;
  background: url('/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 20% 0;
}

.card-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
}

.card-image-container {
  position: absolute;
  right: 0;
}

.card-creds {
  margin-top: 2.5rem;
  display: flex;
  gap: 0.625rem;
  
}

.card-creds > p {
  font-size: 1.5rem;
}

.card-name {
  font-weight: 700;
}

.card-job {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}

footer, footer > a {
  margin-top: 1.875rem;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  body {
    justify-content: start;
    background: url('/images/pattern-bg.svg'), url('/images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-size: 70vw 40%, 100%;
    background-position: 40% 5%, 0 100%;
  }
  main {
    width: 100%;
    padding: 1.25rem;
  }

  p{
    font-size: 1.188rem;
  }

  .card-creds {
    flex-direction: column;
    gap: 0.313rem;
  }
  .card-creds > p {
    font-size: 1.25rem;
  }

  .card {
    height: 100%;
    display: grid;
    gap: 4.375rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    background-size: 20%;
    background-position: 50% 55%;
  }

  .card-content {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 0.313rem;
  }

  .card-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
  }

  .card-image-container > img {
    width: 60%;
  }

  footer, footer > a {
    font-size: 10px;
  }
}